.ToggleButtons{
}

.ToggleButtons input {
  -moz-appearance: none;
	-webkit-appearance: none;
}

.ToggleButtons label {
  border: 1px solid #f00;
  position: relative;
}

.ToggleButtons input[type="radio"]:checked {
  background: #f00;
}

.ToggleButtons input[type="radio"]:checked::before {
  position: absolute;
  content:'';
  left:0;
  top:0;
  width: 50px;
  height:20px;
  background: #f00;
}
