.container {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  background: #555;
  padding: 2px;
  padding-top:4px;
  width: 100%;
  font-size: 12px;
  color: #999;
  display: flex;;
}

.buttonGroup{
  margin-right: auto;
}

.button{
  border-style: none;
  background: none;
  border-radius: 15px;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
}

.button > img{
  width: 12px;
  -webkit-user-select: none;
  -webkit-app-region: no-drag;
}

.button:hover{
  opacity: 0.8;
  background:rgba(0, 0, 0, 0.2);
}
