.noteLabelBar {
  background: #2F3136;
  /* width: 70px; */
  border-right: 2px solid #3A3C43;

}

.noteLabelBar ul{
  padding:0 5px;
  margin-top: 111px;
}

li{
  font-size: 12px;
  height: 25px;
  color: #888;
  text-align: right;
}
