.settingBlock{
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #555;
}

.inputGroup {
  margin-top:9px;
}

.settingBlock span{
  /* color:#777; */
}

.input {
  margin-top:12px;
  margin-bottom: 24px;
}
